$primary_color: #F78121;
@import url('https://fonts.googleapis.com/css2?family=Tajawal:wght@300;400;500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* The side navigation menu */
.sidenav {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: var(--boxs); /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.6s;
    color: var(--home-text); /* 0.5 second transition effect to slide in the sidenav */
  }

  .side-content {
    padding: 30px;
  }
  
  .side-width {
    width: 400px;
  } 
  /* The navigation menu links */
  .sidenav a {
    padding: 8px 8px 8px 32px;
    margin-bottom: 30px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  .mood { 
    h6 {
        margin-left: 10px;
        margin-top: 8px;
    }

    img {
        width: 26px;
    }
  }

//   * When you mouse over the navigation links, change their color */
  .sidenav a:hover {
    color: #f1f1f1;
  }
  
  /* Position and style the close button (top right corner) */
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  .closebtn {
    padding-top: 15px;
    cursor: pointer;
  }
  /* Style page content - use this if you want to push the page content to the right when you open the side navigation */
  #main {
    transition: margin-left .5s;
    padding: 20px;
  }

  .quiz-links {
    list-style: none;
  }
  
  /* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }

  .mood { 
    h6 {
        margin-left: 10px;
        margin-top: 8px;
    }

    img {
        width: 25px;
    }

    .btn-dark, .btn-light {
        width: 120px;
        height: 55px;
        color: #fff;
        background-color: #818181;
        border-radius: 15px;
        border: 0;
        text-align: center;
        span {
            position: relative;
            top: -8px;
            left: 5px;
        }
    }

    .active-btn {
        display: none;
    }
}

.dark-theme {
    --bg: rgba(17 17 17 / 94);
    --primary_text: #fff;
    --secondary_text: #858E96;
    --boxs: #333;
    background-color: var(--bg);
    .Menu-icon {
        filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(284deg) brightness(109%) contrast(101%);
    }
}

.light-theme {
    --bg: #eee;
    --primary_text: #000;
    --secondary_text: #333;
    --home-text: #fff;
    --home-text-secondary: #EAE6E6;
    --boxs: #fff;
    background-color: var(--bg);
    .closebtn {
        color: var(--primary_text);
    }

    .Menu-icon {
        filter: invert(0%) sepia(83%) saturate(7500%) hue-rotate(356deg) brightness(82%) contrast(115%);
    }
}

body {
    font-family: 'Tajawal', sans-serif;
}

.con {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.btn-back-side {
    width: 100px;
    height: 35px;
    background-color: $primary_color;
    border-radius: 5px;
    border: 0;
    color: #fff;
    font-size: 18px;
    font-weight: 700;
    margin-top: 20px;
    display: none;
}

.navpar {
    display: flex;
    justify-content: space-between;
    margin-top: 35px;
    .logo {
        img {
            width: 250px;
            height: 64px;
            filter: invert(53%) sepia(80%) saturate(1433%) hue-rotate(347deg) brightness(101%) contrast(94%);
        }
    }

    .nav-icons {
        .btn-back {
            width: 100px;
            height: 35px;
            background-color: $primary_color;
            border-radius: 5px;
            border: 0;
            color: #fff;
            font-size: 18px;
            font-weight: 700;
            position: relative;
            top: -25px;
            left: 20px;
        }
        .Menu-icon {
            width: 64px;
            cursor: pointer;
        }
    }
}

hr {
    opacity: .3;
}

.Questions-con {
    width: 70%;
    height: 550px;
    background-color: var(--boxs);
    margin-right: auto;
    margin-left: auto;
    border: 0;
    border-radius: 10px;
    margin-top: 150px;
    padding: 30px 50px;
    color: var(--primary_text);

    .Questions-header p {
        margin-bottom: 30px;
        color: var(--secondary_text);
        font-weight: 500;
    }

    hr {
        opacity: .2;
    }

    .Question p {
        font-size: 22px;
        font-weight: 700;
        margin-top: 30px;
    }

    input[type = "radio"] {
        margin-top: 30px;
        color: #333;
    }

    input[type = "submit"] {
        width: 100px;
        height: 35px;
        background-color: $primary_color;
        border-radius: 5px;
        border: 0;
        color: #fff;
        font-size: 18px;
        font-weight: 700;
        margin-top: 30px
    }

    .answer-label {
        font-size: 20px;
        color: var(--secondary_text);
        font-weight: 500;
        padding: 5px;
    }

    form hr{
        margin-top: 60px;
    }

    .Questions-footer {
        display: flex;
        justify-content: space-between;

        .icons {
            margin-top: 15px;
        }

        img {
            margin-left: 10px;
            width: 50px;
        }
    }
}


@media only screen and (max-width: 600px) {
    .con {
        width: 95%;
    }

    .btn-back-side {
        display: block;
    }

    .side-width {
        width: 80%;
    }

    .navpar {
        margin-top: 20px;
        margin-bottom: 7px;
        .logo img {
            width: 150px;
            height: 40px;
        }

        .nav-icons {

            .Menu-icon{
                width: 40px;
            }

            .btn-back {
                width: 70px;
                height: 28px;
                display: none;
                position: relative;
                top: -15px;
                left: 20px;
            }
        }
    }

    .Questions-con {
        width: 100%;
        height: 530px;
        padding: 30px 25px;

        .Question p {
            font-size: 18px;
        }

        input[type = "submit"] {
            width: 70px;
            height: 35px;
        }
    
        .answer-label {
            font-size: 16px;
        }

        .Questions-footer {

            .icons {
                margin-top: 25px;
            }
    
            img {
                margin-left: 10px;
                width: 35px;
            }
        }
    }

}



@media only screen and (min-width: 600px) and (max-width: 768px) {
    .con {
        width: 95%;
    }

    .btn-back-side {
        display: block;
    }

    .navpar {
        margin-top: 20px;
        margin-bottom: 7px;
        .logo img {
            width: 150px;
            height: 30px;
        }

        .nav-icons {

            .Menu-icon{
                width: 40px;
            }

            .btn-back {
                display: none;
            }
        }
    }

    .Questions-con {
        width: 100%;
        height: 530px;
        padding: 30px 25px;
        margin-top: 200px;

        .Question p {
            font-size: 18px;
        }

        input[type = "submit"] {
            width: 70px;
            height: 35px;
        }
    
        .answer-label {
            font-size: 16px;
        }

        .Questions-footer {

            .icons {
                margin-top: 25px;
            }
    
            img {
                margin-left: 10px;
                width: 35px;
            }
        }
    }

}

@media only screen and (min-width: 768px) and (max-width: 992px) {
    .con {
        width: 95%;
    }

    .navpar {
        margin-top: 20px;
        margin-bottom: 7px;
        .logo img {
            margin-top: 10px;
            width: 200px;
            height: 35px;
        }

        .nav-icons {

            .Menu-icon{
                width: 50px;
            }

            .btn-back {
                width: 70px;
                height: 35px;
                position: relative;
                top: -20px;
                left: 20px;
            }
        }
    }

    .Questions-con {
        width: 95%;
        height: 530px;
        padding: 30px 25px;

        .Question p {
            font-size: 20px;
        }

        input[type = "submit"] {
            width: 70px;
            height: 35px;
        }
    
        .answer-label {
            font-size: 18px;
        }

        .Questions-footer {

            .icons {
                margin-top: 25px;
            }
    
            img {
                margin-left: 10px;
                width: 35px;
            }
        }
    }
}

@media only screen and (min-width: 992px) and (max-width: 1200px) {
    .con {
        width: 95%;
    }

    .navpar {
        margin-top: 20px;
        margin-bottom: 7px;
        .logo img {
            margin-top: 10px;
            width: 200px;
            height: 35px;
        }

        .nav-icons {

            .Menu-icon{
                width: 50px;
            }

            .btn-back {
                width: 70px;
                height: 35px;
                position: relative;
                top: -20px;
                left: 20px;
            }
        }
    }

    .Questions-con {
        width: 90%;
        height: 530px;
        padding: 30px 25px;

        .Question p {
            font-size: 20px;
        }

        input[type = "submit"] {
            width: 70px;
            height: 35px;
        }
    
        .answer-label {
            font-size: 18px;
        }

        .Questions-footer {

            .icons {
                margin-top: 25px;
            }
    
            img {
                margin-left: 10px;
                width: 35px;
            }
        }
    }
}