$primary_color: #F78121;

@import url('https://fonts.googleapis.com/css2?family=Tajawal:wght@300;400;500;700&display=swap');

@mixin bg($url) {
    .bg {
        width: 100%;
        height: 1150px;
        position: absolute;
        background-repeat: no-repeat;
        background-image: url($url);
    }
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Tajawal', sans-serif;
    overflow-x: hidden;
}

.dark-theme {
    --bg: rgba(17 17 17 / 94);
    --primary_text: #fff;
    --secondary_text: #858E96;
    --boxs: rgba(17 17 17 / 80%);
    @include bg("../Images/sgin-bg.jpg");
}

.light-theme {
    --bg: #eee;
    --primary_text: #000;
    --secondary_text: #333;
    --home-text: #fff;
    --home-text-secondary: #EAE6E6;
    --boxs: #fff;
    @include bg("../Images/sign-light-bg.jpg");
}

.form-container {
    width: 25%;
    height: 600px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    top: 150px;
    background-color: var(--boxs);

    .form-content {
        width: 100%;
        position: relative;
        top: 40px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .form-icon {
        text-align: center;
    }

    .form-title h3 {
        text-align: center;
        font-weight: 700;
        color: var(--primary_text);
        margin-top: 20px;
    }

    .form {
        width: 80%;
        margin-top: 30px;
    }

    .label{
        text-align: right;
        color: var(--primary_text);
        font-weight: 300;
        margin-left: 5px;
    }
    #username,#password {
        width: 90%;
        height: 35px;
        background-color: #818181;
        margin-top: 8px;
        margin-bottom: 30px;
        border-radius: 10px;
        border: 0;
    }
    
    #submit-btn {
        width: 130px;
        height: 35px;
        background-color: $primary_color;
        color: #fff;
        font-weight: 700;
        font-size: 19px;
        border: 0;
        border-radius: 5px;
        position: relative;
        top: 30px;
    }
    a {
        text-decoration: none;
        color: var(--primary_text);
        position: relative;
        top: 90px;
        font-size: 14px;
    }
}


@media only screen and (min-width: 250px) and (max-width: 400px) {
    body {
        overflow-x: hidden;
    }
    .dark-theme .bg {
        width: 100%;
        height: 850px;
        background-image: url("../Images/signin-dark-mobile.jpg");
        background-size: cover;
    }

    .light-theme .bg {
        width: 100%;
        height: 850px;
        background-image: url("../Images/signIn-mobile.jpg");
        background-size: cover;
    }

    .form-container {
        width: 80%;
        position: relative;
        top: 200px;
        height: 550px;

        .form {
            width: 80%;
            margin-top: 40px;
        }

        .form-content {
            position: relative;
            top: 30px;
        }

        .form-icon img {
            width: 70px;
        }

        #username,#password {
            width: 100%;
        }

        #submit-btn {
            position: relative;
            top: 20px;
            width: 120px;
            margin: 0 auto;
        }

    }
}

@media only screen and (min-width: 400px) and (max-width: 600px) {
    body {
        overflow-x: hidden;
    }
    .dark-theme .bg {
        width: 100%;
        height: 900px;
        background-image: url("../Images/signin-dark-mobile.jpg");
        background-size: cover;
    }

    .light-theme .bg {
        width: 100%;
        height: 900px;
        background-image: url("../Images/signin-mobile.jpg");
        background-size: cover;
    }

    .form-container {
        width: 70%;
        position: relative;
        top: 200px;
        height: 550px;

        .form {
            width: 80%;
            margin-top: 40px;
        }

        .form-content {
            position: relative;
            top: 30px;
        }

        .form-icon img {
            width: 70px;
        }

        #username,#password {
            width: 100%;
        }

        #submit-btn {
            position: relative;
            top: 20px;
            width: 120px;
            margin: 0 auto;
        }

    }
}

@media only screen and (min-width: 600px) and (max-width: 768px) {
    body {
        overflow-x: hidden;
    }
    .dark-theme .bg {
        width: 100%;
        height: 900px;
        background-image: url("../Images/signin-dark-mobile.jpg");
        background-size: cover;
    }

    .light-theme .bg {
        width: 100%;
        height: 900px;
        background-image: url("../Images/signIn-mobile.jpg");
        background-size: cover;
    }

    .form-container {
        width: 70%;
        position: relative;
        top: 200px;
        height: 550px;

        .form {
            width: 80%;
            margin-top: 40px;
        }

        .form-content {
            position: relative;
            top: 30px;
        }

        .form-icon img {
            width: 70px;
        }

        #username,#password {
            width: 90%;
        }

        #submit-btn {
            position: relative;
            top: 20px;
            width: 120px;
            margin: 0 auto;
        }

    }
}

@media only screen and (min-width: 768px) and (max-width: 992px) {
    body {
        overflow-x: hidden;
    }
    .dark-theme .bg {
        width: 100%;
        height: 1250px;
        background-image: url("../Images/signin-dark-mobile.jpg");
        background-size: cover;
    }

    .light-theme .bg {
        width: 100%;
        height: 1250px;
        background-image: url("../Images/signIn-mobile.jpg");
        background-size: cover;
    }

    .form-container {
        width: 40%;
        position: relative;
        top: 300px;
        height: 600px;

        .form {
            width: 80%;
            margin-top: 40px;
        }

        .form-content {
            position: relative;
            top: 30px;
        }

        .form-icon img {
            width: 70px;
        }

        #username,#password {
            width: 90%;
        }

        #submit-btn {
            position: relative;
            top: 20px;
            width: 120px;
            margin: 0 auto;
        }
    }
}

@media only screen and (min-width: 992px) and (max-width: 1200px) {
    body {
        overflow-x: hidden;
    }
    .dark-theme .bg {
        width: 100%;
        height: 1250px;
        background-image: url("../Images/signin-dark-mobile.jpg");
        background-size: cover;
    }

    .light-theme .bg {
        width: 100%;
        height: 1250px;
        background-image: url("../Images/signIn-mobile.jpg");
        background-size: cover;
    }

    .form-container {
        width: 45%;
        position: relative;
        top: 300px;
        height: 600px;

        .form {
            width: 80%;
            margin-top: 40px;
        }

        .form-content {
            position: relative;
            top: 30px;
        }

        .form-icon img {
            width: 70px;
        }

        #username,#password {
            width: 90%;
        }

        #submit-btn {
            position: relative;
            top: 20px;
            width: 120px;
            margin: 0 auto;
        }
    }
}

@media only screen and (min-width: 1200px) and (max-width: 1400px){
    .dark-theme .bg {
        width: 100%;
        height: 850px;
        background-size: cover;
    }

    .light-theme .bg {
        width: 100%;
        height: 850px;
        background-size: cover;
    }
    .form-container {
        width: 30%;

        .form {
            width: 80%;
            margin-top: 40px;
        }

        #username,#password {
            width: 90%;
        }

        #submit-btn {
            position: relative;
            top: 20px;
            width: 120px;
            margin: 0 auto;
        }

    }
}

